/**
 * Entry.css
 *
 * @author mzhou / @zhoumm
 * @log 0.1
 *      0.2 修改二级及更深层次的pre的四周都为圆角
 *          修改li中第一层第一个p/div的不缩进
 *          li之间的上下间距修改为0.25em
 *      0.3 修改中文字体
 *          修改abbr样式
 *          修改li的list-type-position为inside
 *      0.4 增加iframe支持,支持jsfiddle/speaker deck/slide share
 *          支持disqus
 *          修改四级标题样式，增加左边框
 *          去掉header的border-bottom
 *          去掉iframe为block的样式，为了支持github start button这样的外部按钮
 *      0.5 修改hr的width为max-width，确保小屏幕不会显示横向滚动条
 *          增加文章右内边距，优化小屏幕、小宽度下的样式
 *      0.6 增加列表的嵌套样式
 *      0.7 拆分文件
 *          增加可选的mutli-column支持
 *          修改宽度默认值为60px
 *          修改h3-icon默认值为空
 *          修改pre样式，去掉左右边框、圆角等等样式。使其适应性更强一些。并设置背景默认为transparent
 *          添加了两个配置：@pre-back-color 和 @pre-border-color
 *          去掉了四级标题的边框和下边距合并，保证样式普通
 *          修改行内code的上下内边距为0.15em，使其在WIN chrome下更高些
 *          修改a的下划线样式，确保下划线不和中文文字粘在一起
 *          优化字体，增加wenquanyi 微米黑字体，ubuntu linux firefox立马好看不少
 *          修复em下划线的颜色为word-color
 *          修复h1, h2内部的u,em,abbr的下划线颜色
 *          修证h1, h2, h3的padding-left和padding-right值
 *      0.8 增加居中、居右两种布局
 *          删掉三四级标题的配置
 *          删除普通a标签的左右边距
 *      0.9 增加限制图片的宽度
 *          增加section与article标签的支持
 *          使pre标签不会自动换行
 *
 */
/* ===========================================================
   Config
   =========================================================== */
/* ==========================================================
   Optional config
   ========================================================== */
/* ==========================================================================
   Entry header
   ========================================================================== */
/* ==========================================================================
   Entry content
   ========================================================================== */
/* ================================================
   Multi-column
   多栏样式，很多浏览器不支持，慎用！
   ================================================ */
.markdown {
  margin: 0;
  line-height: 1.62;
  color: #666666;
  word-wrap: break-word;
  font-size: 14px;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "wenquanyi micro hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* ==========
       Typography
       ========== */

  /* === block content === */

  /* === inline content === */

  /* 强调 */

  /* code */

  /* image */

  /* 书名号(han.css) */

  /* 缩写 */

  /* 定义 */

  /* 标记 */

  /* 行内引用 */

  /* 旁注 */

  /* 上下标 */

  /* disqus支持 */

}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown div,
.markdown p,
.markdown blockquote,
.markdown pre,
.markdown ul,
.markdown ol,
.markdown table,
.markdown figure,
.markdown iframe,
.markdown section,
.markdown article {
  margin-top: 0.5em;
  margin-bottom: 0;
  margin-left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.markdown h1:first-child,
.markdown h2:first-child,
.markdown h3:first-child,
.markdown h4:first-child,
.markdown h5:first-child,
.markdown h6:first-child,
.markdown div:first-child,
.markdown p:first-child,
.markdown blockquote:first-child,
.markdown pre:first-child,
.markdown ul:first-child,
.markdown ol:first-child,
.markdown table:first-child,
.markdown figure:first-child,
.markdown iframe:first-child,
.markdown section:first-child,
.markdown article:first-child {
  margin-top: 0;
}
.markdown > h1,
.markdown > h2,
.markdown > h3,
.markdown > h4,
.markdown > h5,
.markdown > h6,
.markdown > div,
.markdown > p,
.markdown > blockquote,
.markdown > pre,
.markdown > ul,
.markdown > ol,
.markdown > table,
.markdown > figure,
.markdown > iframe,
.markdown > section,
.markdown > article {
  max-width: 600px;
  margin-top: 1em;
  margin-bottom: 0;
  display: block;
  margin-left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.markdown > table {
  display: table;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: bold;
}
.markdown h1,
.markdown h2 {
  font-size: 2em;
  color: #666666;
  background-color: transparent;
}
.markdown h1 a,
.markdown h2 a {
  color: #666666;
}
.markdown h1 a,
.markdown h2 a,
.markdown h1 em,
.markdown h2 em,
.markdown h1 u,
.markdown h2 u,
.markdown h1 abbr[title],
.markdown h2 abbr[title] {
  border-bottom-color: #666666;
}
.markdown > h1 {
  padding-right: 0.5em;
  padding-left: 0.5em;
}
.markdown h2 {
  font-size: 1.5em;
}
.markdown > h2 {
  padding-right: 0.6666666666666666em;
  padding-left: 0.6666666666666666em;
}
.markdown h3 {
  font-size: 1.2em;
}
.markdown > h3 {
  padding-right: 0.7692307692307692em;
  padding-left: 0.7692307692307692em;
}
.markdown h4:before,
.markdown h5:before,
.markdown h6:before {
  content: '　　';
  display: inline;
}
.markdown p:before,
.markdown div:before {
  content: '　　';
  display: inline;
}
.markdown blockquote {
  position: relative;
  padding: 1em 4em;
}
.markdown blockquote div:before,
.markdown blockquote p:before {
  content: '';
}
.markdown blockquote:before {
  position: absolute;
  content: '\275D';
  top: 0;
  left: 1em;
  font-size: 2em;
  color: #cccccc;
}
.markdown blockquote:after {
  position: absolute;
  content: '\275E';
  bottom: 0;
  right: 1em;
  margin-right: -0.25em;
  font-size: 2em;
  color: #cccccc;
}
.markdown pre {
  padding: 1em 4em;
  line-height: 1.5;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  font-family: monospace, serif;
  font-size: 0.8571428571428571em;
  border: 1px solid #e1e1e8;
  border-right: none;
  border-left: none;
  background-color: #fbfbfb;
}
.markdown ul,
.markdown ol {
  margin-top: 1em;
  padding-left: 4em;
}
.markdown ul li,
.markdown ol li {
  margin-top: 0.25em;
  list-style-position: outside;
}
.markdown ul li:first-child,
.markdown ol li:first-child {
  margin-top: 0;
}
.markdown ul li {
  list-style-type: square;
}
.markdown ul li ul li {
  list-style-type: disc;
}
.markdown ul li ul li ul li {
  list-style-type: circle;
}
.markdown ol li {
  list-style-type: decimal;
}
.markdown ol li ol li {
  list-style-type: upper-roman;
}
.markdown ol li ol li ol li {
  list-style-type: lower-roman;
}
.markdown li > ul,
.markdown li > ol {
  margin-top: 0;
  padding-left: 3em;
}
.markdown li > p:first-child:before,
.markdown li > div:first-child:before {
  content: '';
}
.markdown hr {
  position: relative;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  height: 0;
  background: none;
  border: none;
  border-bottom: 2px dashed #888888;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.markdown hr:before,
.markdown hr:after {
  content: '';
  position: absolute;
  width: 30%;
  height: 2px;
  pointer-events: none;
}
.markdown hr:before {
  left: 0;
  right: auto;
  background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
}
.markdown hr:after {
  top: 0;
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
}
.markdown table {
  padding: 0;
  margin-left: 1em;
  margin-left: auto;
  min-width: 300px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #dddddd;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}
.markdown table caption {
  padding: 0.5em 0 0.25em;
}
.markdown table thead th {
  text-align: left;
}
.markdown table tbody {
  margin: 0 1em;
}
.markdown table tbody td,
.markdown table tbody th {
  border-top: 1px solid #dddddd;
}
.markdown table tbody tr:nth-child(odd) td,
.markdown table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.markdown table td,
.markdown table th {
  padding: 0.5em 1em;
  border-left: 1px solid #dddddd;
}
.markdown table td:first-child,
.markdown table th:first-child {
  border-left: none;
}
.markdown a {
  padding-bottom: 0.025em;
  color: #006699;
  text-decoration: none;
  border-bottom-color: #006699;
}
.markdown a[onclick],
.markdown a[href^="javascript:"] {
  margin: 0 0.25em;
  padding: 0.25em 0.5em;
  font-size: 0.8571428571428571em;
  color: #ffffff;
  background-color: #96b3d3;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  border-bottom: none;
}
.markdown a[onclick]:visited,
.markdown a[href^="javascript:"]:visited {
  color: #ffffff;
}
.markdown a:focus {
  outline: thin dotted;
}
.markdown a:visited {
  color: #551a8b;
  border-bottom-color: #551a8b;
}
.markdown a:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.markdown a:hover,
.markdown a:active {
  outline: 0;
}
.markdown b,
.markdown strong {
  font-weight: bold;
}
.markdown u,
.markdown em {
  padding-bottom: .05em;
  font-style: normal;
  font-weight: normal;
  border-bottom: 2px dotted #666666;
}
.markdown u {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.markdown em + em,
.markdown em + u,
.markdown u + em,
.markdown u + u {
  margin-left: 0.125em;
}
.markdown code {
  padding: 0.15em 0.25em;
  margin: 0 0.25em;
  background: #fefefe;
  font-family: monospace, serif;
  font-size: 0.8571428571428571em;
  color: #dd1144;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}
.markdown pre code {
  padding: 0;
  margin: 0;
  font-size: 1em;
  color: #666666;
  background: none;
  border: none;
}
.markdown img {
  max-width: 600px;
  border: 0;
}
.markdown figure img {
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  max-width: 97%;
  border: 1px solid #cccccc;
}
.markdown figure figcaption {
  display: block;
  margin-top: 0.5em;
  text-align: center;
  font-style: italic;
}
.markdown cite {
  font-style: inherit;
}
.markdown cite:before,
.markdown cite:after {
  content: "《";
  line-height: inherit;
}
.markdown cite:after {
  content: "》";
}
.markdown abbr[title] {
  padding-bottom: 0.05em;
  cursor: help;
  border-bottom: 1px dotted #666666;
}
.markdown dfn {
  font-style: italic;
}
.markdown mark {
  background: #ffff00;
  color: #666666;
}
.markdown q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
.markdown small {
  font-size: 80%;
}
.markdown sub,
.markdown sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.markdown sup {
  top: -0.5em;
}
.markdown sub {
  bottom: -0.25em;
}
.markdown #disqus_thread {
  margin-top: 2em;
}
