/**
 * Entry.css
 *
 * @author mzhou / @zhoumm
 * @log 0.1
 *      0.2 修改二级及更深层次的pre的四周都为圆角
 *          修改li中第一层第一个p/div的不缩进
 *          li之间的上下间距修改为0.25em
 *      0.3 修改中文字体
 *          修改abbr样式
 *          修改li的list-type-position为inside
 *      0.4 增加iframe支持,支持jsfiddle/speaker deck/slide share
 *          支持disqus
 *          修改四级标题样式，增加左边框
 *          去掉header的border-bottom
 *          去掉iframe为block的样式，为了支持github start button这样的外部按钮
 *      0.5 修改hr的width为max-width，确保小屏幕不会显示横向滚动条
 *          增加文章右内边距，优化小屏幕、小宽度下的样式
 *      0.6 增加列表的嵌套样式
 *      0.7 拆分文件
 *          增加可选的mutli-column支持
 *          修改宽度默认值为60px
 *          修改h3-icon默认值为空
 *          修改pre样式，去掉左右边框、圆角等等样式。使其适应性更强一些。并设置背景默认为transparent
 *          添加了两个配置：@pre-back-color 和 @pre-border-color
 *          去掉了四级标题的边框和下边距合并，保证样式普通
 *          修改行内code的上下内边距为0.15em，使其在WIN chrome下更高些
 *          修改a的下划线样式，确保下划线不和中文文字粘在一起
 *          优化字体，增加wenquanyi 微米黑字体，ubuntu linux firefox立马好看不少
 *          修复em下划线的颜色为word-color
 *          修复h1, h2内部的u,em,abbr的下划线颜色
 *          修证h1, h2, h3的padding-left和padding-right值
 *      0.8 增加居中、居右两种布局
 *          删掉三四级标题的配置
 *          删除普通a标签的左右边距
 *      0.9 增加限制图片的宽度
 *          增加section与article标签的支持
 *          使pre标签不会自动换行
 *          移动@font-family到config.less中，使其可配置
 *          增加配置@code-font-family
 *      1.0 增加配置@use-index
 *          重新修改全部样式，支持vertical rhythm，更适合阅读
 *          去掉不必要的配置
 *          直接子元素为img时，默认其为block元素
 *          去掉了border相关的样式
 *      1.1 使用px替换em
 *          改进排版，去掉了些可配置项
 *          基础less选择器修改为ext-entry
 *      1.2 修改布局的实现方式
 *          修复hr的位置
 *          修复无标签文字位置的bug
 *          修改code的默认背景色
 *          默认关闭缩近选项
 *      1.3 增加margin-bottom，使得对无标签文字的支持更好
 *          修复baseline.js的bug
 *      1.4 修复默认字体的注释bug
 *
 */
/* ===========================================================
   Config
   =========================================================== */
/* typekit, mac, windows, linux, default */
/* ==========================================================
   Optional config
   ========================================================== */
/*
 * bug 太多，用途不够广泛
 * 对于pre th td这样的标签就会在firefox下有很多bug
.fake-border-top-bottom (@color: #CCC, @width: 1px) {
    position: relative;
    &:before,
    &:after {
        position: absolute;
        z-index: 1;
        content: '';
        width: 100%;
        height: @width;
        background-color: @color;
    }
    &:before {
        top: 0;
        left: 0;
    }
    &:after {
        bottom: 0;
        left: 0;
    }
}
.fake-border-bottom (@color: #CCC, @width: 1px) {
    position: relative;
    &:after {
        position: absolute;
        z-index: 1;
        content: '';
        width: 100%;
        height: @width;
        background-color: @color;
    }
    &:after {
        bottom: 0;
        left: 0;
    }
}
.fake-border-top (@color: #CCC, @width: 1px) {
    position: relative;
    &:before {
        position: absolute;
        z-index: 1;
        content: '';
        width: 100%;
        height: @width;
        background-color: @color;
    }
    &:before {
        top: 0;
        left: 0;
    }
}
*/
/* ==========================================================================
   Entry content
   ========================================================================== */
/* ================================================
   Multi-column
   多栏样式，很多浏览器不支持，慎用！
   ================================================ */
body {
  padding: 0;
  margin: 0;
}
.entry {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 560px;
  padding: 0 14px;
  line-height: 2;
  color: #666666;
  word-wrap: break-word;
  font-size: 14px;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "wenquanyi micro hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* ==========
       Typography
       ========== */

  /* === block content === */

  /* === inline content === */

  /* 强调 */

  /* code */

  /* image */

  /* 书名号(han.css) */

  /* 缩写 */

  /* 定义 */

  /* 标记 */

  /* 行内引用 */

  /* 旁注 */

  /* 上下标 */

  /* disqus支持 */

}
.entry h1,
.entry h2,
.entry h3,
.entry h4,
.entry h5,
.entry h6,
.entry div,
.entry p,
.entry blockquote,
.entry pre,
.entry ul,
.entry ol,
.entry table,
.entry figure,
.entry iframe,
.entry section,
.entry article {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.entry h1:first-child,
.entry h2:first-child,
.entry h3:first-child,
.entry h4:first-child,
.entry h5:first-child,
.entry h6:first-child,
.entry div:first-child,
.entry p:first-child,
.entry blockquote:first-child,
.entry pre:first-child,
.entry ul:first-child,
.entry ol:first-child,
.entry table:first-child,
.entry figure:first-child,
.entry iframe:first-child,
.entry section:first-child,
.entry article:first-child {
  margin-top: 0;
}
.entry h1:last-child,
.entry h2:last-child,
.entry h3:last-child,
.entry h4:last-child,
.entry h5:last-child,
.entry h6:last-child,
.entry div:last-child,
.entry p:last-child,
.entry blockquote:last-child,
.entry pre:last-child,
.entry ul:last-child,
.entry ol:last-child,
.entry table:last-child,
.entry figure:last-child,
.entry iframe:last-child,
.entry section:last-child,
.entry article:last-child {
  margin-bottom: 0;
}
.entry > h1,
.entry > h2,
.entry > h3,
.entry > h4,
.entry > h5,
.entry > h6,
.entry > div,
.entry > p,
.entry > blockquote,
.entry > pre,
.entry > ul,
.entry > ol,
.entry > table,
.entry > figure,
.entry > iframe,
.entry > section,
.entry > article,
.entry > img {
  margin-top: 28px;
  margin-bottom: 28px;
  display: block;
}
.entry > table {
  display: table;
}
.entry h1,
.entry h2,
.entry h3,
.entry h4,
.entry h5,
.entry h6 {
  font-weight: bold;
}
.entry h1,
.entry h2 {
  color: #666666;
  background-color: transparent;
}
.entry h1 a,
.entry h2 a {
  color: #666666;
}
.entry h1 a,
.entry h2 a,
.entry h1 em,
.entry h2 em,
.entry h1 u,
.entry h2 u,
.entry h1 abbr[title],
.entry h2 abbr[title] {
  border-bottom-color: #666666;
}
.entry h1 {
  font-size: 28px;
  line-height: 56px;
  text-align: center;
}
.entry h2 {
  font-size: 21px;
  line-height: 28px;
  text-align: center;
}
.entry h3 {
  font-size: 16.8px;
  line-height: 28px;
  text-align: left;
}
.entry h4,
.entry h5,
.entry h6 {
  line-height: 28px;
  font-size: 14px;
  text-align: left;
}
.entry blockquote {
  position: relative;
  padding: 28px 56px;
}
.entry blockquote:before {
  position: absolute;
  content: '\275D';
  top: 0;
  left: 14px;
  font-size: 3em;
  color: #cccccc;
}
.entry blockquote:after {
  position: absolute;
  content: '\275E';
  bottom: 0;
  right: 14px;
  margin-right: -0.25em;
  font-size: 3em;
  color: #cccccc;
}
.entry pre {
  padding: 13px 14px;
  line-height: 28px;
  font-size: 14px;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  font-family: consolas, monaco, monospace, serif;
  border: 1px solid #e1e1e8;
  border-right: none;
  border-left: none;
  background-color: #f7f7f9;
}
.entry ul,
.entry ol {
  padding-left: 56px;
}
.entry ul li,
.entry ol li {
  list-style-position: outside;
}
.entry ul li {
  list-style-type: square;
}
.entry ul li ul li {
  list-style-type: disc;
}
.entry ul li ul li ul li {
  list-style-type: circle;
}
.entry ol li {
  list-style-type: decimal;
}
.entry ol li ol li {
  list-style-type: upper-roman;
}
.entry ol li ol li ol li {
  list-style-type: lower-roman;
}
.entry li > ul,
.entry li > ol {
  padding-left: 42px;
}
.entry hr {
  position: relative;
  padding-top: 28px;
  margin-top: -2px;
  margin-bottom: 56px;
  height: 0;
  background: none;
  border: none;
  border-bottom: 2px dashed #888888;
}
.entry hr:before,
.entry hr:after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 30%;
  height: 2px;
  pointer-events: none;
}
.entry hr:before {
  left: 0;
  background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
}
.entry hr:after {
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
}
.entry table {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 294px;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}
.entry table caption {
  padding: 14px 0;
}
.entry table thead th {
  text-align: left;
}
.entry table tbody {
  margin: 0 14px;
}
.entry table tbody tr:nth-child(odd) td,
.entry table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.entry table tbody tr:last-child td,
.entry table tbody tr:last-child th {
  padding-bottom: 12px;
}
.entry table td,
.entry table th {
  padding: 14px 14px 13px;
  border: 1px solid #dddddd;
}
.entry iframe {
  vertical-align: text-bottom;
}
.entry a {
  padding-bottom: 0.025em;
  color: #006699;
  text-decoration: none;
  border-bottom-color: #0088cc;
}
.entry a[onclick],
.entry a[href^="javascript:"] {
  margin: 0 0.25em;
  padding: 0.25em 0.5em;
  font-size: 0.8571428571428571em;
  color: #ffffff;
  background-color: #96b3d3;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  border-bottom: none;
}
.entry a[onclick]:visited,
.entry a[href^="javascript:"]:visited {
  color: #ffffff;
}
.entry a:focus {
  outline: thin dotted;
}
.entry a:visited {
  color: #551a8b;
  border-bottom-color: #551a8b;
}
.entry a:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.entry a:hover,
.entry a:active {
  outline: 0;
}
.entry b,
.entry strong {
  font-weight: bold;
}
.entry u,
.entry em {
  padding-bottom: .05em;
  font-style: normal;
  font-weight: normal;
  border-bottom: 2px dotted #b3b3b3;
}
.entry u {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.entry em + em,
.entry em + u,
.entry u + em,
.entry u + u {
  margin-left: 0.125em;
}
.entry code {
  padding: 0.15em 0.25em;
  margin: 0 0.25em;
  background: #fee9cc;
  font-family: consolas, monaco, monospace, serif;
  font-size: 0.8571428571428571em;
  color: #666666;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}
.entry pre code {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #666666;
  background: none;
  border: none;
}
.entry img {
  max-width: 100%;
  border: 0;
}
.entry > img {
  max-width: 100%;
}
.entry figure img {
  display: block;
  margin: 0 auto;
}
.entry figure figcaption {
  display: block;
  text-align: center;
  font-style: italic;
}
.entry cite {
  font-style: inherit;
}
.entry cite:before,
.entry cite:after {
  content: "《";
  line-height: inherit;
}
.entry cite:after {
  content: "》";
}
.entry abbr[title] {
  padding-bottom: 0.05em;
  cursor: help;
  border-bottom: 1px dotted #666666;
}
.entry dfn {
  font-style: italic;
}
.entry mark {
  background: #ffff00;
  color: #666666;
}
.entry q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
.entry small {
  font-size: 80%;
}
.entry sub,
.entry sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.entry sup {
  top: -0.5em;
}
.entry sub {
  bottom: -0.25em;
}
.entry #disqus_thread {
  margin-top: 28px;
}
