/**
 * Entry.css
 *
 * @author mzhou / @zhoumm
 * @log 0.1
 *      0.2 修改二级及更深层次的pre的四周都为圆角
 *          修改li中第一层第一个p/div的不缩进
 *          li之间的上下间距修改为0.25em
 */
/* ===========================================================
   Config
   =========================================================== */
.start-with2word:before {
  content: '　　';
  display: inline;
}
.no-start-with2word:before {
  content: '';
}
/* ==========================================================================
   Entry header
   ========================================================================== */
.ext-entry-header {
  margin: 0;
  padding: 1em 2em;
  max-width: 100%;
  color: #ffffff;
  overflow: hidden;
  background-color: #83a1d5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.ext-entry-header:before {
  content: '';
}
.ext-entry-header h1 {
  margin: 0;
  padding: 0;
  max-width: 100%;
  line-height: 1.5;
  color: #ffffff;
  background-color: #83a1d5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.ext-entry-header a {
  color: #ffffff;
}
.ext-entry-header p:before,
.ext-entry-header div:before {
  content: '';
}
.ext-entry-meta {
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.ext-entry-meta a {
  color: #ffffff;
}
/* ==========================================================================
   Entry content
   ========================================================================== */
.ext-entry-content {
  margin: 0;
  line-height: 1.62;
  color: #666666;
  word-wrap: break-word;
  font-size: 14px;
  font-family: serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* ==========
       Typography
       ========== */

  /* === block content === */

  /* === inline content === */

  /* 强调 */

  /* code */

  /* image */

  /* other */

  /* 书名号(han.css) */

  /* 缩写 */

  /* 定义 */

  /* 标记 */

  /* 行内引用 */

  /* 旁注 */

  /* 上下标 */

}
.ext-entry-content h1,
.ext-entry-content h2,
.ext-entry-content h3,
.ext-entry-content h4,
.ext-entry-content h5,
.ext-entry-content h6,
.ext-entry-content div,
.ext-entry-content p,
.ext-entry-content blockquote,
.ext-entry-content pre,
.ext-entry-content ul,
.ext-entry-content ol,
.ext-entry-content table,
.ext-entry-content figure {
  margin: 0.5em 0 0 0;
  padding: 0;
}
.ext-entry-content h1:first-child,
.ext-entry-content h2:first-child,
.ext-entry-content h3:first-child,
.ext-entry-content h4:first-child,
.ext-entry-content h5:first-child,
.ext-entry-content h6:first-child,
.ext-entry-content div:first-child,
.ext-entry-content p:first-child,
.ext-entry-content blockquote:first-child,
.ext-entry-content pre:first-child,
.ext-entry-content ul:first-child,
.ext-entry-content ol:first-child,
.ext-entry-content table:first-child,
.ext-entry-content figure:first-child {
  margin-top: 0;
}
.ext-entry-content > h1,
.ext-entry-content > h2,
.ext-entry-content > h3,
.ext-entry-content > h4,
.ext-entry-content > h5,
.ext-entry-content > h6,
.ext-entry-content > div,
.ext-entry-content > p,
.ext-entry-content > blockquote,
.ext-entry-content > pre,
.ext-entry-content > ul,
.ext-entry-content > ol,
.ext-entry-content > table,
.ext-entry-content > figure {
  max-width: 600px;
  margin: 1em 0 0 0;
  padding: 0 0 0 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.ext-entry-content h1,
.ext-entry-content h2,
.ext-entry-content h3,
.ext-entry-content h4,
.ext-entry-content h5,
.ext-entry-content h6 {
  font-weight: 500;
  font-family: sans-serif;
}
.ext-entry-content h1,
.ext-entry-content h2 {
  font-size: 2em;
  color: #ffffff;
  background-color: #96b3d3;
}
.ext-entry-content h1 a,
.ext-entry-content h2 a {
  color: #ffffff;
}
.ext-entry-content h2 {
  font-size: 1.5em;
}
.ext-entry-content h3 {
  font-size: 1.2em;
}
.ext-entry-content h3:before {
  display: inline-block;
  content: '\27BD';
  margin-right: 0.5em;
  vertical-align: middle;
  font-size: 1em;
  color: #96b3d3;
}
.ext-entry-content h4,
.ext-entry-content h5,
.ext-entry-content h6 {
  margin-bottom: -1em;
}
.ext-entry-content h4:before,
.ext-entry-content h5:before,
.ext-entry-content h6:before {
  content: '　　';
  display: inline;
}
.ext-entry-content p,
.ext-entry-content div {
  /* text-indent: 2em; 避免继承，故不用 */

}
.ext-entry-content p:before,
.ext-entry-content div:before {
  content: '　　';
  display: inline;
}
.ext-entry-content blockquote {
  position: relative;
  padding: 1em 4em;
  font-family: serif;
}
.ext-entry-content blockquote div:before,
.ext-entry-content blockquote p:before {
  content: '';
}
.ext-entry-content blockquote:before {
  position: absolute;
  content: '\275D';
  top: 0;
  left: 1em;
  font-size: 2em;
  color: #cccccc;
}
.ext-entry-content blockquote:after {
  position: absolute;
  content: '\275E';
  bottom: 0;
  right: 1em;
  margin-right: -0.25em;
  font-size: 2em;
  color: #cccccc;
}
.ext-entry-content pre {
  padding: 1em 4em;
  line-height: 1.5;
  /* 强制设置行高，避免难看 */

  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace, serif;
  font-size: 0.8571428571428571em;
  /* 12px */

  border: 1px solid #e1e1e8;
  background-color: #f7f7f9;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}
.ext-entry-content > pre {
  -webkit-border-radius: 0 1em 1em 0;
  -moz-border-radius: 0 1em 1em 0;
  -ms-border-radius: 0 1em 1em 0;
  -o-border-radius: 0 1em 1em 0;
  border-radius: 0 1em 1em 0;
}
.ext-entry-content ul,
.ext-entry-content ol {
  margin-top: 1em;
  padding-left: 4em;
}
.ext-entry-content ul li,
.ext-entry-content ol li {
  margin-top: 0.25em;
  list-style-position: inside;
}
.ext-entry-content ul li:first-child,
.ext-entry-content ol li:first-child {
  margin-top: 0;
}
.ext-entry-content li > ul,
.ext-entry-content li > ol {
  margin-top: 0;
  padding-left: 3em;
}
.ext-entry-content li > p:first-child:before,
.ext-entry-content li > div:first-child:before {
  content: '';
}
.ext-entry-content hr {
  position: relative;
  margin: 3em 0;
  width: 600px;
  height: 0;
  background: none;
  border: none;
  border-bottom: 2px dashed #888888;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.ext-entry-content hr:before,
.ext-entry-content hr:after {
  content: '';
  position: absolute;
  width: 30%;
  height: 2px;
  pointer-events: none;
}
.ext-entry-content hr:before {
  left: 0;
  right: auto;
  background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
}
.ext-entry-content hr:after {
  top: 0;
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
}
.ext-entry-content table {
  padding: 0;
  margin-left: 1em;
  min-width: 300px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #dddddd;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}
.ext-entry-content table caption {
  padding: 0.5em 0 0.25em;
}
.ext-entry-content table thead th {
  text-align: left;
}
.ext-entry-content table tbody {
  margin: 0 1em;
}
.ext-entry-content table tbody td,
.ext-entry-content table tbody th {
  border-top: 1px solid #dddddd;
}
.ext-entry-content table tbody tr:nth-child(odd) td,
.ext-entry-content table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.ext-entry-content table td,
.ext-entry-content table th {
  padding: 0.5em 1em;
  border-left: 1px solid #dddddd;
}
.ext-entry-content table td:first-child,
.ext-entry-content table th:first-child {
  border-left: none;
}
.ext-entry-content a {
  margin: 0 0.25em;
  color: #006699;
}
.ext-entry-content a[onclick],
.ext-entry-content a[href^="javascript:"] {
  margin: 0 0.025em;
  padding: 0.25em 0.5em;
  font-size: 0.8571428571428571em;
  text-decoration: none;
  color: #ffffff;
  background-color: #96b3d3;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}
.ext-entry-content a[onclick]:visited,
.ext-entry-content a[href^="javascript:"]:visited {
  color: #ffffff;
}
.ext-entry-content a:visited {
  color: #551a8b;
}
.ext-entry-content a:focus {
  outline: thin dotted;
}
.ext-entry-content a:active,
.ext-entry-content a:hover {
  outline: 0;
}
.ext-entry-content b,
.ext-entry-content strong {
  font-weight: bold;
}
.ext-entry-content u,
.ext-entry-content em {
  padding-bottom: .05em;
  font-style: normal;
  font-weight: normal;
  border-bottom: 2px dotted #666666;
}
.ext-entry-content u {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.ext-entry-content em + em,
.ext-entry-content em + u,
.ext-entry-content u + em,
.ext-entry-content u + u {
  margin-left: 0.125em;
}
.ext-entry-content code {
  padding: 0.05em 0.25em;
  margin: 0 0.25em;
  background: #f7f7f9;
  font-family: monospace, serif;
  font-size: 0.8571428571428571em;
  /* 12px */

  color: #dd1144;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}
.ext-entry-content pre code {
  padding: 0;
  margin: 0;
  font-size: 1em;
  color: #666666;
  background: none;
  border: none;
}
.ext-entry-content img {
  border: 0;
}
.ext-entry-content figure img {
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  max-width: 97%;
  border: 1px solid #cccccc;
}
.ext-entry-content figure figcaption {
  display: block;
  margin-top: 0.5em;
  text-align: center;
  font-style: italic;
}
.ext-entry-content cite {
  font-style: inherit;
}
.ext-entry-content cite:before,
.ext-entry-content cite:after {
  content: "《";
  line-height: inherit;
}
.ext-entry-content cite:after {
  content: "》";
}
.ext-entry-content abbr[title] {
  border-bottom: 1px dotted;
}
.ext-entry-content dfn {
  font-style: italic;
}
.ext-entry-content mark {
  background: #ffff00;
  color: #666666;
}
.ext-entry-content q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
.ext-entry-content small {
  font-size: 80%;
}
.ext-entry-content sub,
.ext-entry-content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.ext-entry-content sup {
  top: -0.5em;
}
.ext-entry-content sub {
  bottom: -0.25em;
}
.markdown {
  margin: 0;
  line-height: 1.62;
  color: #666666;
  word-wrap: break-word;
  font-size: 14px;
  font-family: serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* ==========
       Typography
       ========== */

  /* === block content === */

  /* === inline content === */

  /* 强调 */

  /* code */

  /* image */

  /* other */

  /* 书名号(han.css) */

  /* 缩写 */

  /* 定义 */

  /* 标记 */

  /* 行内引用 */

  /* 旁注 */

  /* 上下标 */

}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown div,
.markdown p,
.markdown blockquote,
.markdown pre,
.markdown ul,
.markdown ol,
.markdown table,
.markdown figure {
  margin: 0.5em 0 0 0;
  padding: 0;
}
.markdown h1:first-child,
.markdown h2:first-child,
.markdown h3:first-child,
.markdown h4:first-child,
.markdown h5:first-child,
.markdown h6:first-child,
.markdown div:first-child,
.markdown p:first-child,
.markdown blockquote:first-child,
.markdown pre:first-child,
.markdown ul:first-child,
.markdown ol:first-child,
.markdown table:first-child,
.markdown figure:first-child {
  margin-top: 0;
}
.markdown > h1,
.markdown > h2,
.markdown > h3,
.markdown > h4,
.markdown > h5,
.markdown > h6,
.markdown > div,
.markdown > p,
.markdown > blockquote,
.markdown > pre,
.markdown > ul,
.markdown > ol,
.markdown > table,
.markdown > figure {
  max-width: 600px;
  margin: 1em 0 0 0;
  padding: 0 0 0 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: 500;
  font-family: sans-serif;
}
.markdown h1,
.markdown h2 {
  font-size: 2em;
  color: #ffffff;
  background-color: #96b3d3;
}
.markdown h1 a,
.markdown h2 a {
  color: #ffffff;
}
.markdown h2 {
  font-size: 1.5em;
}
.markdown h3 {
  font-size: 1.2em;
}
.markdown h3:before {
  display: inline-block;
  content: '\27BD';
  margin-right: 0.5em;
  vertical-align: middle;
  font-size: 1em;
  color: #96b3d3;
}
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-bottom: -1em;
}
.markdown h4:before,
.markdown h5:before,
.markdown h6:before {
  content: '　　';
  display: inline;
}
.markdown p,
.markdown div {
  /* text-indent: 2em; 避免继承，故不用 */

}
.markdown p:before,
.markdown div:before {
  content: '　　';
  display: inline;
}
.markdown blockquote {
  position: relative;
  padding: 1em 4em;
  font-family: serif;
}
.markdown blockquote div:before,
.markdown blockquote p:before {
  content: '';
}
.markdown blockquote:before {
  position: absolute;
  content: '\275D';
  top: 0;
  left: 1em;
  font-size: 2em;
  color: #cccccc;
}
.markdown blockquote:after {
  position: absolute;
  content: '\275E';
  bottom: 0;
  right: 1em;
  margin-right: -0.25em;
  font-size: 2em;
  color: #cccccc;
}
.markdown pre {
  padding: 1em 4em;
  line-height: 1.5;
  /* 强制设置行高，避免难看 */

  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace, serif;
  font-size: 0.8571428571428571em;
  /* 12px */

  border: 1px solid #e1e1e8;
  background-color: #f7f7f9;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}
.markdown > pre {
  -webkit-border-radius: 0 1em 1em 0;
  -moz-border-radius: 0 1em 1em 0;
  -ms-border-radius: 0 1em 1em 0;
  -o-border-radius: 0 1em 1em 0;
  border-radius: 0 1em 1em 0;
}
.markdown ul,
.markdown ol {
  margin-top: 1em;
  padding-left: 4em;
}
.markdown ul li,
.markdown ol li {
  margin-top: 0.25em;
  list-style-position: inside;
}
.markdown ul li:first-child,
.markdown ol li:first-child {
  margin-top: 0;
}
.markdown li > ul,
.markdown li > ol {
  margin-top: 0;
  padding-left: 3em;
}
.markdown li > p:first-child:before,
.markdown li > div:first-child:before {
  content: '';
}
.markdown hr {
  position: relative;
  margin: 3em 0;
  width: 600px;
  height: 0;
  background: none;
  border: none;
  border-bottom: 2px dashed #888888;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.markdown hr:before,
.markdown hr:after {
  content: '';
  position: absolute;
  width: 30%;
  height: 2px;
  pointer-events: none;
}
.markdown hr:before {
  left: 0;
  right: auto;
  background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
}
.markdown hr:after {
  top: 0;
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
}
.markdown table {
  padding: 0;
  margin-left: 1em;
  min-width: 300px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #dddddd;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}
.markdown table caption {
  padding: 0.5em 0 0.25em;
}
.markdown table thead th {
  text-align: left;
}
.markdown table tbody {
  margin: 0 1em;
}
.markdown table tbody td,
.markdown table tbody th {
  border-top: 1px solid #dddddd;
}
.markdown table tbody tr:nth-child(odd) td,
.markdown table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.markdown table td,
.markdown table th {
  padding: 0.5em 1em;
  border-left: 1px solid #dddddd;
}
.markdown table td:first-child,
.markdown table th:first-child {
  border-left: none;
}
.markdown a {
  margin: 0 0.25em;
  color: #006699;
}
.markdown a[onclick],
.markdown a[href^="javascript:"] {
  margin: 0 0.025em;
  padding: 0.25em 0.5em;
  font-size: 0.8571428571428571em;
  text-decoration: none;
  color: #ffffff;
  background-color: #96b3d3;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}
.markdown a[onclick]:visited,
.markdown a[href^="javascript:"]:visited {
  color: #ffffff;
}
.markdown a:visited {
  color: #551a8b;
}
.markdown a:focus {
  outline: thin dotted;
}
.markdown a:active,
.markdown a:hover {
  outline: 0;
}
.markdown b,
.markdown strong {
  font-weight: bold;
}
.markdown u,
.markdown em {
  padding-bottom: .05em;
  font-style: normal;
  font-weight: normal;
  border-bottom: 2px dotted #666666;
}
.markdown u {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.markdown em + em,
.markdown em + u,
.markdown u + em,
.markdown u + u {
  margin-left: 0.125em;
}
.markdown code {
  padding: 0.05em 0.25em;
  margin: 0 0.25em;
  background: #f7f7f9;
  font-family: monospace, serif;
  font-size: 0.8571428571428571em;
  /* 12px */

  color: #dd1144;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}
.markdown pre code {
  padding: 0;
  margin: 0;
  font-size: 1em;
  color: #666666;
  background: none;
  border: none;
}
.markdown img {
  border: 0;
}
.markdown figure img {
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  max-width: 97%;
  border: 1px solid #cccccc;
}
.markdown figure figcaption {
  display: block;
  margin-top: 0.5em;
  text-align: center;
  font-style: italic;
}
.markdown cite {
  font-style: inherit;
}
.markdown cite:before,
.markdown cite:after {
  content: "《";
  line-height: inherit;
}
.markdown cite:after {
  content: "》";
}
.markdown abbr[title] {
  border-bottom: 1px dotted;
}
.markdown dfn {
  font-style: italic;
}
.markdown mark {
  background: #ffff00;
  color: #666666;
}
.markdown q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
.markdown small {
  font-size: 80%;
}
.markdown sub,
.markdown sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.markdown sup {
  top: -0.5em;
}
.markdown sub {
  bottom: -0.25em;
}
.markdown .markdown-header {
  margin: 0;
  padding: 1em 2em;
  max-width: 100%;
  color: #ffffff;
  overflow: hidden;
  background-color: #83a1d5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.markdown .markdown-header:before {
  content: '';
}
.markdown .markdown-header h1 {
  margin: 0;
  padding: 0;
  max-width: 100%;
  line-height: 1.5;
  color: #ffffff;
  background-color: #83a1d5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.markdown .markdown-header a {
  color: #ffffff;
}
.markdown .markdown-header p:before,
.markdown .markdown-header div:before {
  content: '';
}
.markdown .markdown-header .markdown-meta {
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.markdown .markdown-header .markdown-meta a {
  color: #ffffff;
}
