/**
 * Entry.css
 *
 * @author mzhou / @zhoumm
 * @log 0.1
 *      0.2 修改二级及更深层次的pre的四周都为圆角
 *          修改li中第一层第一个p/div的不缩进
 *          li之间的上下间距修改为0.25em
 *      0.3 修改中文字体
 *          修改abbr样式
 *          修改li的list-type-position为inside
 *      0.4 增加iframe支持,支持jsfiddle/speaker deck/slide share
 *          支持disqus
 *          修改四级标题样式，增加左边框
 *          去掉header的border-bottom
 *          去掉iframe为block的样式，为了支持github start button这样的外部按钮
 *      0.5 修改hr的width为max-width，确保小屏幕不会显示横向滚动条
 *          增加文章右内边距，优化小屏幕、小宽度下的样式
 *
 */
/* ===========================================================
   Config
   =========================================================== */
/* ==========================================================================
   Entry header
   ========================================================================== */
/* ==========================================================================
   Entry content
   ========================================================================== */
body {
  margin: 0;
  line-height: 1.62;
  color: #666666;
  word-wrap: break-word;
  font-size: 14px;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* ==========
       Typography
       ========== */

  /* === block content === */

  /* === inline content === */

  /* 强调 */

  /* code */

  /* image */

  /* other */

  /* 书名号(han.css) */

  /* 缩写 */

  /* 定义 */

  /* 标记 */

  /* 行内引用 */

  /* 旁注 */

  /* 上下标 */

  /* disqus支持 */

}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body div,
body p,
body blockquote,
body pre,
body ul,
body ol,
body table,
body figure,
body iframe {
  margin: 0.5em 0 0 0;
  padding: 0;
}
body h1:first-child,
body h2:first-child,
body h3:first-child,
body h4:first-child,
body h5:first-child,
body h6:first-child,
body div:first-child,
body p:first-child,
body blockquote:first-child,
body pre:first-child,
body ul:first-child,
body ol:first-child,
body table:first-child,
body figure:first-child,
body iframe:first-child {
  margin-top: 0;
}
body > h1,
body > h2,
body > h3,
body > h4,
body > h5,
body > h6,
body > div,
body > p,
body > blockquote,
body > pre,
body > ul,
body > ol,
body > table,
body > figure,
body > iframe {
  max-width: 600px;
  margin: 1em 0 0 0;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: bold;
}
body h1,
body h2 {
  font-size: 2em;
  color: #ffffff;
  background-color: #96b3d3;
}
body h1 a,
body h2 a {
  color: #ffffff;
}
body h2 {
  font-size: 1.5em;
}
body h3 {
  font-size: 1.2em;
}
body h3:before {
  display: inline-block;
  content: '\27BD';
  margin-right: 0.5em;
  vertical-align: middle;
  font-size: 1em;
  color: #96b3d3;
}
body h4,
body h5,
body h6 {
  margin-bottom: -1em;
}
body h4:before,
body h5:before,
body h6:before {
  content: '　　';
  display: inline;
}
body h4:before,
body h5:before,
body h6:before {
  margin-right: 0.5em;
  border-right: 0.5em solid #CCC;
}
body p,
body div {
  /* text-indent: 2em; 避免继承，故不用 */

}
body p:before,
body div:before {
  content: '　　';
  display: inline;
}
body blockquote {
  position: relative;
  padding: 1em 4em;
}
body blockquote div:before,
body blockquote p:before {
  content: '';
}
body blockquote:before {
  position: absolute;
  content: '\275D';
  top: 0;
  left: 1em;
  font-size: 2em;
  color: #cccccc;
}
body blockquote:after {
  position: absolute;
  content: '\275E';
  bottom: 0;
  right: 1em;
  margin-right: -0.25em;
  font-size: 2em;
  color: #cccccc;
}
body pre {
  padding: 1em 4em;
  line-height: 1.5;
  /* 强制设置行高，避免难看 */

  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace, serif;
  font-size: 0.8571428571428571em;
  /* 12px */

  border: 1px solid #e1e1e8;
  background-color: #f7f7f9;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}
body > pre {
  -webkit-border-radius: 0 1em 1em 0;
  -moz-border-radius: 0 1em 1em 0;
  -ms-border-radius: 0 1em 1em 0;
  -o-border-radius: 0 1em 1em 0;
  border-radius: 0 1em 1em 0;
}
body ul,
body ol {
  margin-top: 1em;
  padding-left: 4em;
}
body ul li,
body ol li {
  margin-top: 0.25em;
  list-style-position: outside;
  /* 如果是inside，且li第一个元素是block元素，那么Firefox下会移到下一行*/

}
body ul li:first-child,
body ol li:first-child {
  margin-top: 0;
}
body ul li {
  list-style-type: square;
}
body ul li ul li {
  list-style-type: disc;
}
body ul li ul li ul li {
  list-style-type: circle;
}
body ol li {
  list-style-type: decimal;
}
body ol li ol li {
  list-style-type: upper-roman;
}
body ol li ol li ol li {
  list-style-type: lower-roman;
}
body li > ul,
body li > ol {
  margin-top: 0;
  padding-left: 3em;
}
body li > p:first-child:before,
body li > div:first-child:before {
  content: '';
}
body hr {
  position: relative;
  margin: 3em auto 3em 0;
  /* IE <= 9下如果margin-right: 0，那么会导致hr居中，而不是靠左*/

  max-width: 600px;
  height: 0;
  background: none;
  border: none;
  border-bottom: 2px dashed #888888;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body hr:before,
body hr:after {
  content: '';
  position: absolute;
  width: 30%;
  height: 2px;
  pointer-events: none;
}
body hr:before {
  left: 0;
  right: auto;
  background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
}
body hr:after {
  top: 0;
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
}
body table {
  padding: 0;
  margin-left: 1em;
  min-width: 300px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #dddddd;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}
body table caption {
  padding: 0.5em 0 0.25em;
}
body table thead th {
  text-align: left;
}
body table tbody {
  margin: 0 1em;
}
body table tbody td,
body table tbody th {
  border-top: 1px solid #dddddd;
}
body table tbody tr:nth-child(odd) td,
body table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
body table td,
body table th {
  padding: 0.5em 1em;
  border-left: 1px solid #dddddd;
}
body table td:first-child,
body table th:first-child {
  border-left: none;
}
body a {
  margin: 0 0.25em;
  color: #006699;
}
body a[onclick],
body a[href^="javascript:"] {
  margin: 0 0.25em;
  padding: 0.25em 0.5em;
  font-size: 0.8571428571428571em;
  text-decoration: none;
  color: #ffffff;
  background-color: #96b3d3;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}
body a[onclick]:visited,
body a[href^="javascript:"]:visited {
  color: #ffffff;
}
body a:visited {
  color: #551a8b;
}
body a:focus {
  outline: thin dotted;
}
body a:active,
body a:hover {
  outline: 0;
}
body b,
body strong {
  font-weight: bold;
}
body u,
body em {
  padding-bottom: .05em;
  font-style: normal;
  font-weight: normal;
  border-bottom: 2px dotted #666666;
}
body u {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
body em + em,
body em + u,
body u + em,
body u + u {
  margin-left: 0.125em;
}
body code {
  padding: 0.05em 0.25em;
  margin: 0 0.25em;
  background: #f7f7f9;
  font-family: monospace, serif;
  font-size: 0.8571428571428571em;
  /* 12px */

  color: #dd1144;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}
body pre code {
  padding: 0;
  margin: 0;
  font-size: 1em;
  color: #666666;
  background: none;
  border: none;
}
body img {
  border: 0;
}
body figure img {
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  max-width: 97%;
  border: 1px solid #cccccc;
}
body figure figcaption {
  display: block;
  margin-top: 0.5em;
  text-align: center;
  font-style: italic;
}
body cite {
  font-style: inherit;
}
body cite:before,
body cite:after {
  content: "《";
  line-height: inherit;
}
body cite:after {
  content: "》";
}
body abbr[title] {
  padding-bottom: 0.05em;
  cursor: help;
  border-bottom: 1px dotted;
}
body dfn {
  font-style: italic;
}
body mark {
  background: #ffff00;
  color: #666666;
}
body q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
body small {
  font-size: 80%;
}
body sub,
body sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
body sup {
  top: -0.5em;
}
body sub {
  bottom: -0.25em;
}
body #disqus_thread {
  margin-top: 2em;
}
body header {
  margin: 0;
  padding: 1em 2em;
  max-width: 100%;
  color: #ffffff;
  overflow: hidden;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #83a1d5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body header:before {
  content: '';
}
body header h1 {
  margin: 0;
  padding: 0;
  max-width: 100%;
  line-height: 1.5;
  color: #ffffff;
  background-color: #83a1d5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body header a {
  color: #ffffff;
}
body header p:before,
body header div:before {
  content: '';
}
