/**
 * Entry.css
 *
 * @author mzhou / @zhoumm
 * @log 0.1
 *      0.2 修改二级及更深层次的pre的四周都为圆角
 *          修改li中第一层第一个p/div的不缩进
 *          li之间的上下间距修改为0.25em
 *      0.3 修改中文字体
 *          修改abbr样式
 *          修改li的list-type-position为inside
 *      0.4 增加iframe支持,支持jsfiddle/speaker deck/slide share
 *          支持disqus
 *          修改四级标题样式，增加左边框
 *          去掉header的border-bottom
 *          去掉iframe为block的样式，为了支持github start button这样的外部按钮
 *      0.5 修改hr的width为max-width，确保小屏幕不会显示横向滚动条
 *          增加文章右内边距，优化小屏幕、小宽度下的样式
 *      0.6 增加列表的嵌套样式
 *      0.7 拆分文件
 *          增加可选的mutli-column支持
 *          修改宽度默认值为60px
 *          修改h3-icon默认值为空
 *          修改pre样式，去掉左右边框、圆角等等样式。使其适应性更强一些。并设置背景默认为transparent
 *          添加了两个配置：@pre-back-color 和 @pre-border-color
 *          去掉了四级标题的边框和下边距合并，保证样式普通
 *          修改行内code的上下内边距为0.15em，使其在WIN chrome下更高些
 *          修改a的下划线样式，确保下划线不和中文文字粘在一起
 *          优化字体，增加wenquanyi 微米黑字体，ubuntu linux firefox立马好看不少
 *          修复em下划线的颜色为word-color
 *          修复h1, h2内部的u,em,abbr的下划线颜色
 *          修证h1, h2, h3的padding-left和padding-right值
 *      0.8 增加居中、居右两种布局
 *          删掉三四级标题的配置
 *          删除普通a标签的左右边距
 *      0.9 增加限制图片的宽度
 *          增加section与article标签的支持
 *          使pre标签不会自动换行
 *          移动@font-family到config.less中，使其可配置
 *          增加配置@code-font-family
 *      1.0 增加配置@use-index
 *          重新修改全部样式，支持vertical rhythm，更适合阅读
 *          去掉不必要的配置
 *          直接子元素为img时，默认其为block元素
 *          去掉了border相关的样式
 *      1.1 使用px替换em
 *          改进排版，去掉了些可配置项
 *          基础less选择器修改为ext-entry
 *      1.2 修改布局的实现方式
 *          修复hr的位置
 *          修复无标签文字位置的bug
 *          修改code的默认背景色
 *          默认关闭缩近选项
 *      1.3 增加margin-bottom，使得对无标签文字的支持更好
 *          修复baseline.js的bug
 *
 */
/* ===========================================================
   Config
   =========================================================== */
/* ==========================================================
   Optional config
   ========================================================== */
/*
 * bug 太多，用途不够广泛
 * 对于pre th td这样的标签就会在firefox下有很多bug
.fake-border-top-bottom (@color: #CCC, @width: 1px) {
    position: relative;
    &:before,
    &:after {
        position: absolute;
        z-index: 1;
        content: '';
        width: 100%;
        height: @width;
        background-color: @color;
    }
    &:before {
        top: 0;
        left: 0;
    }
    &:after {
        bottom: 0;
        left: 0;
    }
}
.fake-border-bottom (@color: #CCC, @width: 1px) {
    position: relative;
    &:after {
        position: absolute;
        z-index: 1;
        content: '';
        width: 100%;
        height: @width;
        background-color: @color;
    }
    &:after {
        bottom: 0;
        left: 0;
    }
}
.fake-border-top (@color: #CCC, @width: 1px) {
    position: relative;
    &:before {
        position: absolute;
        z-index: 1;
        content: '';
        width: 100%;
        height: @width;
        background-color: @color;
    }
    &:before {
        top: 0;
        left: 0;
    }
}
*/
/* ==========================================================================
   Entry content
   ========================================================================== */
/* ================================================
   Multi-column
   多栏样式，很多浏览器不支持，慎用！
   ================================================ */
body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 560px;
  padding: 0 14px;
  line-height: 2;
  color: #666666;
  word-wrap: break-word;
  font-size: 14px;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", /* typekit */
 "Lucida Grande", /* mac */
 "Hiragino Sans GB", "Hiragino Sans GB W3", /* mac */
 "Microsoft YaHei", /* windows */
 "wenquanyi micro hei", /* linux */
 sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* ==========
       Typography
       ========== */

  /* === block content === */

  /* === inline content === */

  /* 强调 */

  /* code */

  /* image */

  /* 书名号(han.css) */

  /* 缩写 */

  /* 定义 */

  /* 标记 */

  /* 行内引用 */

  /* 旁注 */

  /* 上下标 */

  /* disqus支持 */

}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body div,
body p,
body blockquote,
body pre,
body ul,
body ol,
body table,
body figure,
body iframe,
body section,
body article {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
body h1:first-child,
body h2:first-child,
body h3:first-child,
body h4:first-child,
body h5:first-child,
body h6:first-child,
body div:first-child,
body p:first-child,
body blockquote:first-child,
body pre:first-child,
body ul:first-child,
body ol:first-child,
body table:first-child,
body figure:first-child,
body iframe:first-child,
body section:first-child,
body article:first-child {
  margin-top: 0;
}
body h1:last-child,
body h2:last-child,
body h3:last-child,
body h4:last-child,
body h5:last-child,
body h6:last-child,
body div:last-child,
body p:last-child,
body blockquote:last-child,
body pre:last-child,
body ul:last-child,
body ol:last-child,
body table:last-child,
body figure:last-child,
body iframe:last-child,
body section:last-child,
body article:last-child {
  margin-bottom: 0;
}
body > h1,
body > h2,
body > h3,
body > h4,
body > h5,
body > h6,
body > div,
body > p,
body > blockquote,
body > pre,
body > ul,
body > ol,
body > table,
body > figure,
body > iframe,
body > section,
body > article,
body > img {
  margin-top: 28px;
  margin-bottom: 28px;
  display: block;
}
body > table {
  display: table;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: bold;
}
body h1,
body h2 {
  color: #666666;
  background-color: transparent;
}
body h1 a,
body h2 a {
  color: #666666;
}
body h1 a,
body h2 a,
body h1 em,
body h2 em,
body h1 u,
body h2 u,
body h1 abbr[title],
body h2 abbr[title] {
  border-bottom-color: #666666;
}
body h1 {
  font-size: 28px;
  line-height: 56px;
  text-align: center;
}
body h2 {
  font-size: 21px;
  line-height: 28px;
  text-align: center;
}
body h3 {
  font-size: 16.8px;
  line-height: 28px;
  text-align: left;
}
body h4,
body h5,
body h6 {
  line-height: 28px;
  font-size: 14px;
  text-align: left;
}
body blockquote {
  position: relative;
  padding: 28px 56px;
}
body blockquote:before {
  position: absolute;
  content: '\275D';
  top: 0;
  left: 14px;
  font-size: 3em;
  color: #cccccc;
}
body blockquote:after {
  position: absolute;
  content: '\275E';
  bottom: 0;
  right: 14px;
  margin-right: -0.25em;
  font-size: 3em;
  color: #cccccc;
}
body pre {
  padding: 13px 14px;
  line-height: 28px;
  font-size: 14px;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  font-family: consolas, monaco, monospace, serif;
  border: 1px solid #e1e1e8;
  border-right: none;
  border-left: none;
  background-color: #f7f7f9;
}
body ul,
body ol {
  padding-left: 56px;
}
body ul li,
body ol li {
  list-style-position: outside;
}
body ul li {
  list-style-type: square;
}
body ul li ul li {
  list-style-type: disc;
}
body ul li ul li ul li {
  list-style-type: circle;
}
body ol li {
  list-style-type: decimal;
}
body ol li ol li {
  list-style-type: upper-roman;
}
body ol li ol li ol li {
  list-style-type: lower-roman;
}
body li > ul,
body li > ol {
  padding-left: 42px;
}
body hr {
  position: relative;
  padding-top: 28px;
  margin-top: -2px;
  margin-bottom: 56px;
  height: 0;
  background: none;
  border: none;
  border-bottom: 2px dashed #888888;
}
body hr:before,
body hr:after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 30%;
  height: 2px;
  pointer-events: none;
}
body hr:before {
  left: 0;
  background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
}
body hr:after {
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
}
body table {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 294px;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}
body table caption {
  padding: 14px 0;
}
body table thead th {
  text-align: left;
}
body table tbody {
  margin: 0 14px;
}
body table tbody tr:nth-child(odd) td,
body table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
body table tbody tr:last-child td,
body table tbody tr:last-child th {
  padding-bottom: 12px;
}
body table td,
body table th {
  padding: 14px 14px 13px;
  border: 1px solid #dddddd;
}
body iframe {
  vertical-align: text-bottom;
}
body a {
  padding-bottom: 0.025em;
  color: #006699;
  text-decoration: none;
  border-bottom-color: #0088cc;
}
body a[onclick],
body a[href^="javascript:"] {
  margin: 0 0.25em;
  padding: 0.25em 0.5em;
  font-size: 0.8571428571428571em;
  color: #ffffff;
  background-color: #96b3d3;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  border-bottom: none;
}
body a[onclick]:visited,
body a[href^="javascript:"]:visited {
  color: #ffffff;
}
body a:focus {
  outline: thin dotted;
}
body a:visited {
  color: #551a8b;
  border-bottom-color: #551a8b;
}
body a:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
body a:hover,
body a:active {
  outline: 0;
}
body b,
body strong {
  font-weight: bold;
}
body u,
body em {
  padding-bottom: .05em;
  font-style: normal;
  font-weight: normal;
  border-bottom: 2px dotted #b3b3b3;
}
body u {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
body em + em,
body em + u,
body u + em,
body u + u {
  margin-left: 0.125em;
}
body code {
  padding: 0.15em 0.25em;
  margin: 0 0.25em;
  background: #fee9cc;
  font-family: consolas, monaco, monospace, serif;
  font-size: 0.8571428571428571em;
  color: #666666;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}
body pre code {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #666666;
  background: none;
  border: none;
}
body img {
  max-width: 100%;
  border: 0;
}
body > img {
  max-width: 100%;
}
body figure img {
  display: block;
  margin: 0 auto;
}
body figure figcaption {
  display: block;
  text-align: center;
  font-style: italic;
}
body cite {
  font-style: inherit;
}
body cite:before,
body cite:after {
  content: "《";
  line-height: inherit;
}
body cite:after {
  content: "》";
}
body abbr[title] {
  padding-bottom: 0.05em;
  cursor: help;
  border-bottom: 1px dotted #666666;
}
body dfn {
  font-style: italic;
}
body mark {
  background: #ffff00;
  color: #666666;
}
body q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
body small {
  font-size: 80%;
}
body sub,
body sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
body sup {
  top: -0.5em;
}
body sub {
  bottom: -0.25em;
}
body #disqus_thread {
  margin-top: 28px;
}
