/**
 * Entry.css
 *
 * @author mzhou / @zhoumm
 * @log 0.1
 *      0.2 修改二级及更深层次的pre的四周都为圆角
 *          修改li中第一层第一个p/div的不缩进
 *          li之间的上下间距修改为0.25em
 *      0.3 修改中文字体
 *          修改abbr样式
 *          修改li的list-type-position为inside
 *      0.4 增加iframe支持,支持jsfiddle/speaker deck/slide share
 *          支持disqus
 *          修改四级标题样式，增加左边框
 *          去掉header的border-bottom
 *          去掉iframe为block的样式，为了支持github start button这样的外部按钮
 *      0.5 修改hr的width为max-width，确保小屏幕不会显示横向滚动条
 *          增加文章右内边距，优化小屏幕、小宽度下的样式
 *      0.6 增加列表的嵌套样式
 *      0.7 拆分文件
 *          增加可选的mutli-column支持
 *          修改宽度默认值为60px
 *          修改h3-icon默认值为空
 *          修改pre样式，去掉左右边框、圆角等等样式。使其适应性更强一些。并设置背景默认为transparent
 *          添加了两个配置：@pre-back-color 和 @pre-border-color
 *          去掉了四级标题的边框和下边距合并，保证样式普通
 *          修改行内code的上下内边距为0.15em，使其在WIN chrome下更高些
 *          修改a的下划线样式，确保下划线不和中文文字粘在一起
 *          优化字体，增加wenquanyi 微米黑字体，ubuntu linux firefox立马好看不少
 *          修复em下划线的颜色为word-color
 *          修复h1, h2内部的u,em,abbr的下划线颜色
 *          修证h1, h2, h3的padding-left和padding-right值
 *      0.8 增加居中、居右两种布局
 *          删掉三四级标题的配置
 *          删除普通a标签的左右边距
 *      0.9 增加限制图片的宽度
 *          增加section与article标签的支持
 *          使pre标签不会自动换行
 *          移动@font-family到config.less中，使其可配置
 *          增加配置@code-font-family
 *      1.0 增加配置@use-index
 *          重新修改全部样式，支持vertical rhythm，更适合阅读
 *          去掉不必要的配置
 *          直接子元素为img时，默认其为block元素
 *          去掉了border相关的样式
 *      1.1 使用px替换em
 *          改进排版，去掉了些可配置项
 *          基础less选择器修改为ext-entry
 *      1.2 修改布局的实现方式
 *          修复hr的位置
 *          修复无标签文字位置的bug
 *          修改code的默认背景色
 *          默认关闭缩近选项
 *
 */
/* ===========================================================
   Config
   =========================================================== */
/* ==========================================================
   Optional config
   ========================================================== */
/*
 * bug 太多，用途不够广泛
 * 对于pre th td这样的标签就会在firefox下有很多bug
.fake-border-top-bottom (@color: #CCC, @width: 1px) {
    position: relative;
    &:before,
    &:after {
        position: absolute;
        z-index: 1;
        content: '';
        width: 100%;
        height: @width;
        background-color: @color;
    }
    &:before {
        top: 0;
        left: 0;
    }
    &:after {
        bottom: 0;
        left: 0;
    }
}
.fake-border-bottom (@color: #CCC, @width: 1px) {
    position: relative;
    &:after {
        position: absolute;
        z-index: 1;
        content: '';
        width: 100%;
        height: @width;
        background-color: @color;
    }
    &:after {
        bottom: 0;
        left: 0;
    }
}
.fake-border-top (@color: #CCC, @width: 1px) {
    position: relative;
    &:before {
        position: absolute;
        z-index: 1;
        content: '';
        width: 100%;
        height: @width;
        background-color: @color;
    }
    &:before {
        top: 0;
        left: 0;
    }
}
*/
/* ==========================================================================
   Entry content
   ========================================================================== */
/* ================================================
   Multi-column
   多栏样式，很多浏览器不支持，慎用！
   ================================================ */
.post {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 608px;
  padding: 0 16px;
  line-height: 1.7;
  color: #666666;
  word-wrap: break-word;
  font-size: 16px;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", /* typekit */
 "Lucida Grande", /* mac */
 "Hiragino Sans GB", "Hiragino Sans GB W3", /* mac */
 "Microsoft YaHei", /* windows */
 "wenquanyi micro hei", /* linux */
 sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* ==========
       Typography
       ========== */

  /* === block content === */

  /*
    > pre {
        // pre上间距为： @font-size * (14 / 16) * @line-height * @font-size * (16 / 14) = h
        margin-top: @line-height * @font-size * 16 / 14;
    }
    */

  /* === inline content === */

  /* 强调 */

  /* code */

  /* image */

  /* 书名号(han.css) */

  /* 缩写 */

  /* 定义 */

  /* 标记 */

  /* 行内引用 */

  /* 旁注 */

  /* 上下标 */

  /* disqus支持 */

}
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6,
.post div,
.post p,
.post blockquote,
.post pre,
.post ul,
.post ol,
.post table,
.post figure,
.post iframe,
.post section,
.post article {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.post h1:first-child,
.post h2:first-child,
.post h3:first-child,
.post h4:first-child,
.post h5:first-child,
.post h6:first-child,
.post div:first-child,
.post p:first-child,
.post blockquote:first-child,
.post pre:first-child,
.post ul:first-child,
.post ol:first-child,
.post table:first-child,
.post figure:first-child,
.post iframe:first-child,
.post section:first-child,
.post article:first-child {
  margin-top: 0;
}
.post > h1,
.post > h2,
.post > h3,
.post > h4,
.post > h5,
.post > h6,
.post > div,
.post > p,
.post > blockquote,
.post > pre,
.post > ul,
.post > ol,
.post > table,
.post > figure,
.post > iframe,
.post > section,
.post > article,
.post > img {
  margin-top: 27.2px;
  margin-bottom: 0;
  display: block;
}
.post > table {
  display: table;
}
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  font-weight: bold;
}
.post h1,
.post h2 {
  color: #666666;
  background-color: transparent;
}
.post h1 a,
.post h2 a {
  color: #666666;
}
.post h1 a,
.post h2 a,
.post h1 em,
.post h2 em,
.post h1 u,
.post h2 u,
.post h1 abbr[title],
.post h2 abbr[title] {
  border-bottom-color: #666666;
}
.post h1 {
  font-size: 28px;
  line-height: 54.4px;
  text-align: center;
}
.post > h1 {
  margin-top: 27.2px;
}
.post h2 {
  font-size: 21px;
  line-height: 27.2px;
  text-align: center;
}
.post > h2 {
  margin-top: 27.2px;
}
.post h3 {
  font-size: 16.8px;
  line-height: 27.2px;
  text-align: left;
}
.post > h3 {
  margin-top: 27.2px;
}
.post h4,
.post h5,
.post h6 {
  line-height: 27.2px;
  font-size: 14px;
  text-align: left;
}
.post blockquote {
  position: relative;
  padding: 27.2px 64px;
}
.post blockquote:before {
  position: absolute;
  content: '\275D';
  top: 0;
  left: 16px;
  font-size: 3em;
  color: #cccccc;
}
.post blockquote:after {
  position: absolute;
  content: '\275E';
  bottom: 0;
  right: 16px;
  margin-right: -0.25em;
  font-size: 3em;
  color: #cccccc;
}
.post pre {
  padding: 12.6px 16px;
  line-height: 27.2px;
  font-size: 14px;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  font-family: monospace, serif;
  border: 1px solid #e1e1e8;
  border-right: none;
  border-left: none;
  background-color: #f7f7f9;
}
.post ul,
.post ol {
  margin-top: 27.2px;
  padding-left: 64px;
}
.post ul li,
.post ol li {
  list-style-position: outside;
}
.post ul li:first-child,
.post ol li:first-child {
  margin-top: 0;
}
.post ul li {
  list-style-type: square;
}
.post ul li ul li {
  list-style-type: disc;
}
.post ul li ul li ul li {
  list-style-type: circle;
}
.post ol li {
  list-style-type: decimal;
}
.post ol li ol li {
  list-style-type: upper-roman;
}
.post ol li ol li ol li {
  list-style-type: lower-roman;
}
.post li > ul,
.post li > ol {
  margin-top: 0;
  padding-left: 48px;
}
.post hr {
  position: relative;
  padding-top: 27.2px;
  margin-bottom: 54.4px;
  margin-top: -2px;
  height: 0;
  background: none;
  border: none;
  border-bottom: 2px dashed #888888;
}
.post hr:before,
.post hr:after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 30%;
  height: 2px;
  pointer-events: none;
}
.post hr:before {
  left: 0;
  background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
}
.post hr:after {
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
}
.post table {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}
.post table caption {
  padding: 13.6px 0;
}
.post table thead th {
  text-align: left;
}
.post table tbody {
  margin: 0 16px;
}
.post table tbody tr:nth-child(odd) td,
.post table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.post table tbody tr:last-child td,
.post table tbody tr:last-child th {
  padding-bottom: 11.6px;
}
.post table td,
.post table th {
  padding: 13.6px 16px 12.6px;
  border: 1px solid #dddddd;
}
.post iframe {
  vertical-align: text-bottom;
}
.post a {
  padding-bottom: 0.025em;
  color: #006699;
  text-decoration: none;
  border-bottom-color: #0088cc;
}
.post a[onclick],
.post a[href^="javascript:"] {
  margin: 0 0.25em;
  padding: 0.25em 0.5em;
  font-size: 0.8571428571428571em;
  color: #ffffff;
  background-color: #96b3d3;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  border-bottom: none;
}
.post a[onclick]:visited,
.post a[href^="javascript:"]:visited {
  color: #ffffff;
}
.post a:focus {
  outline: thin dotted;
}
.post a:visited {
  color: #551a8b;
  border-bottom-color: #551a8b;
}
.post a:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.post a:hover,
.post a:active {
  outline: 0;
}
.post b,
.post strong {
  font-weight: bold;
}
.post u,
.post em {
  padding-bottom: .05em;
  font-style: normal;
  font-weight: normal;
  border-bottom: 2px dotted #b3b3b3;
}
.post u {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.post em + em,
.post em + u,
.post u + em,
.post u + u {
  margin-left: 0.125em;
}
.post code {
  padding: 0.15em 0.25em;
  margin: 0 0.25em;
  background: #fee9cc;
  font-family: monospace, serif;
  font-size: 0.8571428571428571em;
  color: #666666;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}
.post pre code {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #666666;
  background: none;
  border: none;
}
.post img {
  max-width: 100%;
  border: 0;
}
.post > img {
  max-width: 100%;
}
.post figure img {
  display: block;
  margin: 0 auto;
}
.post figure figcaption {
  display: block;
  text-align: center;
  font-style: italic;
}
.post cite {
  font-style: inherit;
}
.post cite:before,
.post cite:after {
  content: "《";
  line-height: inherit;
}
.post cite:after {
  content: "》";
}
.post abbr[title] {
  padding-bottom: 0.05em;
  cursor: help;
  border-bottom: 1px dotted #666666;
}
.post dfn {
  font-style: italic;
}
.post mark {
  background: #ffff00;
  color: #666666;
}
.post q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
.post small {
  font-size: 80%;
}
.post sub,
.post sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.post sup {
  top: -0.5em;
}
.post sub {
  bottom: -0.25em;
}
.post #disqus_thread {
  margin-top: 27.2px;
}
