/* ===========================================================
   Config
   =========================================================== */
@content-width: 560px;  // 内容区的宽度，默认值为 40 * 14 = 560px
@font-size: 14px;       // 基础文字大小
@line-height: 1.62;     // 行高

@head-color: #83A1D5;   // 文章标题背景色

@word-color: #666;              // 文字默认颜色
@word-highlight-color: #FFF;    // 文章标题在背景高亮时候文字默认的颜色
@word-back-color: #83A1D5;      // 文章标题在背景高亮时候文字默认的背景颜色
@word-highlight-color-2: #FFF;  // 一级标题在背景高亮时候文字默认的颜色
@word-back-color-2: #96B3D3;    // 一级标题在背景高亮时候文字默认的背景颜色

@link-color: #069;              // 普通链接颜色
@link-highlight-color: #FFF;    // 普通链接在背景高亮时候的颜色
@link-visited-color: #551A8B;   // 普通链接在访问过后的颜色
@link-js-highlight-color: #FFF; // 执行js的链接颜色
@link-js-back-color: #96B3D3;   // 执行js的链接背景色

@blockquote-quot-color: #CCC;       // 引用icon的颜色
@blockquote-before-icon: '\275D';   // 前一个引用icon
@blockquote-after-icon: '\275E';    // 后一个引用icon

@h3-icon: '';               // h3的icon，默认没有
@h4-border-color: '#CCC';   // h4,h5,h6的左边框颜色

// 从bootstrap拷贝的颜色
@code-color: #D14;              // code的文字颜色
@code-back-color: #F7F7F9;      // code的背景色
@code-border-color: #E1E1E8;    // code的边框颜色

@pre-back-color: #FEFEFE;       // pre的背景色
@pre-border-color: #E1E1E8;     // pre的边框色

@hr-color: #888;                // hr的颜色

// 从bootstrap拷贝的颜色
@table-border-color: #DDD;              // table边框颜色
@table-inner-border-color: #DDD;        // table内边框颜色
@table-highlight-back-color: #F9F9F9;   // table背景高亮颜色

@img-border-color: #CCC;    // 图标边框颜色

@mark-back-color: yellow;   // mark的背景色


/* ==========================================================
   Optional config
   ========================================================== */

// 多栏样式
// 设置高度之后，显示成横向阅读
@use-column: false;     // 设置为true的时候启用多栏样式
@column-gap: 4em;       // 栏之间的间距
@column-rule: none;     // eg: 1px solid #CCC; 但不是在间隔中严格居中的，而是靠着内容
@content-height: 50em;  // 如果内容区的父元素设置了高度，则可以将此处设置为100%
                        // 推荐一个计算方法是：想要显示的行数 * 行高 = 最终高度值em
                        // 默认为：30行 * 1.62 = 48.6em
