@import "entry.less";


// 配置文件写在这里
// @layout: right;
// @use-column:true;
@word-color: #666;              // 文字默认颜色
@word-highlight-color: #333;    // 文章标题在背景高亮时候文字默认的颜色
@word-back-color: transparent;      // 文章标题在背景高亮时候文字默认的背景颜色
@word-highlight-color-2: #333;  // 一级标题在背景高亮时候文字默认的颜色
@word-back-color-2: transparent;    // 一级标题在背景高亮时候文字默认的背景颜色

@link-color: #069;              // 普通链接颜色
@link-highlight-color: #333;    // 普通链接在背景高亮时候的颜色
@link-visited-color: transparent;   // 普通链接在访问过后的颜色
@link-js-highlight-color: #333; // 执行js的链接颜色
@link-js-back-color: transparent;   // 执行js的链接背景色

// 你自己的样式
body {
    padding: 0;
    margin: 0;
}

// 自定义选择符
.entry {
    .ext-entry-content;
    margin-top: 1em;
}
.entry-header {
    .ext-entry-header;
}
.entry-header .entry-meta {
    .ext-entry-meta;
}
